.multiple-choice-exercise {
  .hidden-radio {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    border: 0 !important;
  }

  .form-list-checks {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
  }

  .custom-btn {
    background-color: transparent;
    color: lightgray;
    border: 1px solid lightgray;
    cursor: pointer;
    border-radius: 48px;
    width: 46%;
    height: 44px;
    transition: all 0.3s ease;
    user-select: none;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0 12px;
    box-shadow: none;

    &:hover {
      border: 1px dashed #ff6f61;
    }

    &.selected {
      box-shadow: none;
      transform: none;
      border: 1px solid #ff6f61;
    }

    &:disabled {
      border: 1px solid lightgray;
    }

    &.correct {
      background-color: transparent;
      color: #28a745; /* xanh tươi */
      border-color: #28a745;
      box-shadow: none;
      transform: none;

      &:hover {
      }
    }

    &.wrong {
      background-color: transparent;
      border: 1px dashed #dc3545;

      &:hover {
      }
    }
  }

  .check-box {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ff6f61;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    > div {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ff6f61;
    }
  }
}
