.detail-exerise {
  background: linear-sgradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-image: url("https://www.transparenttextures.com/patterns/white-wall-3.png");
  background-repeat: repeat;
  background-size: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 32px 0;
  height: max-content;
  min-height: 95vh;

  .exercise-close{
    width: 32px;
    height: 32px;
    background-color: rgb(207, 207, 207);
    position: absolute;
    top: 16px;
    left: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: crimson;
    }
  }

  .exercise-title {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

    .emoji {
      font-size: 18px;
    }

    h2 {
      font-size: 16px;
      color: #4b0082;
      font-weight: 700;
      margin: 0;
    }
  }

  .exercise-text-box {
    width: 50%;
    background-color: #f9f0ff;
    border: 1px solid #c084fc;
    border-left: 6px solid #c084fc;
    padding: 16px 20px;
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    min-width: 400px;
    flex-shrink: 0;

    .emoji {
      font-size: 20px;
      margin-top: 2px;
    }

    p {
      font-size: 16px;
      color: #444;
      margin: 0;
      height: 76vh;
      text-align: justify;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .exercise-content {
    margin: 20px 0;
    gap: 26px;
    display: flex;
    justify-content: space-between;
    align-items: start;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .btn-submit-exercise {
    width: 100%;
    margin: 40px auto 0;
  }
}

@media (max-width: 940px) {
  .detail-exerise {
    padding: 20px;
    .exercise-content {
      flex-direction: column;
      align-items: center;
    }
    .exercise-text-box {
      width: 100%;
      p{
        height: max-content;
      }
    }
  }
}
