.auth__layout{
    width: 100vw;
    min-height: 100vh;
    background-image: url('../../../../public/images/auth-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &--back{
        position: fixed;
        top: 16px;
        left: 16px;
        cursor: pointer;
        transition: all 0.3s linear;

        &:hover{
            scale: 1.05;
        }
    }

    &--form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
