@config "../../tailwind.config.ts";

@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container-page {
  padding: 12px 53px;

  @media (max-width: 1024px) {
    padding: 12px 24px;
  }

  @media (max-width: 768px) {
    padding: 12px 16px;
  }
}

.h1-title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25rem;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  color: #3f4254;
  margin-bottom: 32px;
}
