.write-exercise {
  margin-top: 20px;
  input {
    background-color: transparent !important;
    outline: none;
    font-weight: 600;
    color: #3f4254;
  }

  input:focus {
    box-shadow: none;
    outline: none;
    background-color: transparent !important;
  }

  .text-explain {
    color: #3f4254;
    line-height: 28px;
  }
}
