.introduction {
  color: #3f4254;
  h4 {
    font: {
      weight: 700;
      size: 16px;
    }
    line-height: 20px;
    margin-bottom: 16px;
  }
  p {
    text-align: justify;
    line-height: 22px;
    font: {
      size: 14px;
      weight: 500;
    }
    margin-bottom: 16px;
  }
}
