.home-page {
    .home-banner{
        min-height: 300px;
        width: 100%;
        background-image: url('../../../../public/icons/home-banner.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
}
