.header {
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding-bottom: 12px !important;
  // box-shadow: 0 1px 4px rgba(0, 0, 0, .16);
}
.header-left {
  &__title {
    @media (max-width: 1024px) {
      margin-top: 12px;
    }
  }
  .header-title {
    color: #181c32;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
  .breadcrumb {
    margin: 4px 0 -4px;
    display: flex;
    align-items: center;
    a,
    span {
      font: {
        weight: 500;
        size: 14px;
      }
      line-height: 22px;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
    .link:last-child {
      color: #8b90a7;
    }
    span {
      margin: 0 8px;
    }
    a:hover {
      color: #ff8400;
    }
  }
}
.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  @media (max-width: 1024px) {
    gap: 12px;
  }

  .header-right__wapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .progress-icon {
    width: 48px;
    height: 48px;
    background-color: #fff2e0;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s linear;

    > img {
      width: 28px;
    }

    &:hover {
      scale: 1.1;
    }

    @media (max-width: 768px) {
      width: 40px;
      height: 40px;
    }
  }
}

.header-user {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  img {
    width: 100%;
  }
  @media (max-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

.custom-dropdown-menu {
  background: #fff;
  box-shadow: 0 4px 12px #00000024;
  border: 2px solid #fff2e0;
  border-radius: 24px;
  width: 250px;
  overflow: hidden;
  padding: 0;
  margin-top: 8px;

  .dropdown-item {
    display: flex;
    gap: 16px;
    padding: 18px 24px;
    cursor: pointer;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #3f4254;
    border-bottom: 1px solid #fff2e0;

    &:hover {
      background-color: #fff2e0;
    }
  }
}
